.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  border-bottom: 1px solid gray;
  .title {
    font-size: 36px;
    font-weight: 700;
  }
}